.wizard-component{
    background-color: #eee;
    padding: 4px;
    box-sizing: border-box;
}
.wizard-component-progress{
    text-align: left;
    padding: 10px;
    background-color: white;
}
.wizard-component-progress > div{
    display: inline-block;
}
.wizard-component-progress .progress-bar-circle {
    text-align: center;
    display: inherit;
    width: 30px;
    height: 30px;
    line-height: 32px;
    background-color: #ddd;
    border-radius: 50%;
    color: #888;
}
.wizard-component-progress > div:before, .wizard-component-progress > div:after {
    content: " ";
    display: block;
    height: 2px;
    background-color: #ddd;
    width: calc(50% - 15px);
    float: left;
    margin-top: 13px;
}
.wizard-component-progress > div:after {
    float: right;
    margin-top: -44px;
}
.wizard-component-progress > div:first-child:before, .wizard-component-progress > div:last-child:after {
    opacity: 0;
}

.wizard-component-progress .wizard-step-name{
    text-align: center;
    margin-top: 10px;
    padding: 0px 10px;
    color: #888;
}


.wizard-component-progress > div.active .progress-bar-circle {
    background-color: #56bde9;
    color: #fff;
}
.wizard-component-progress > div.active:before, .wizard-component-progress > div.active:after {
    background-color: #56bde9;
}
.wizard-component-progress > div.active .wizard-step-name{
    color: #56bde9;
    font-weight: bold;
}


.wizard-component-progress > div.completed .progress-bar-circle {
    background-color: #b2d135;
    color: #fff;
}
.wizard-component-progress > div.completed:before, .wizard-component-progress > div.completed:after {
    background-color: #b2d135;
}
.wizard-component-progress > div.completed .wizard-step-name{
    color: #b2d135;
}

.wizard-component .wizard-footer{
    text-align: right;
    background: white;
    padding: 5px;
}
.wizard-component .wizard-footer button{
    border: none;
    margin-left: 3px;
    padding: 2px 6px;
    cursor: pointer;
}
.wizard-component .wizard-footer button.cancel-button{
    float: left;
    margin: 0;
}

.wizard-component .wizard-body{
    background: white;
    margin: 4px 0;
    padding: 5px;
}